<!DOCTYPE html>

<html>
<head>
    <title>My todolist</title>
    <style>

        a {
            text-decoration: none;
            color: black;
        }

        html,
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            margin: 8px;
            font-size: 18px;
        }

        input,
        select,
        textarea,
        button {
            font-family: inherit;
        }

        .edit-button, .edit-button:focus  {
            background: none;
            cursor: pointer;
            border: 0;
            outline: 0;
            font-size: 1.1em;
        }

        .edit-select {
            width: 3em;
        }

    </style>
</head>

<body>
<h1>My todolist</h1>
<ul>
    <% todolist.forEach(function(todo, index) { %>
        <li>
            <a href="/todo/delete/<%= index %>">✘</a> <%- todo %>

            <button class="edit-button" onclick="txtTodoIndexEdit.value = <%= index %>;" type="button">&#128393;
            </button>

        </li>
    <% }); %>
</ul>

<h2>Edit Todo</h2>

<form id="form-edit" action="/todo/edit" method="post">

    <label>Which one?
        <select class="edit-select"  name="replacementindex" id="txt-todo-index-edit" type="number" min="0" required>

            <% todolist.forEach(function(todo, index) { %>
                <option value="<%= index %>"><%= index %></option>
            <% }); %>

        </select>
    </label>
    <input name="replacementtodo" placeholder="replacement todo"/>
    <input type="submit"/>

</form>

<h2>New Todo</h2>

<form action="/todo/add/" method="post">
    <p>
        <label for="newtodo">What shoud I do?</label>
        <input type="text" name="newtodo" id="newtodo" autofocus/>
        <input type="submit"/>
    </p>
</form>

<script>

    const txtTodoIndexEdit = document.getElementById("txt-todo-index-edit");

</script>


</body>
</html>
